## 使用方法：
## 1、将此文件复制为 .env
## 2、更改下列变量值为正确的信息

# 跨域信息
TDP_ORIGIN=http://localhost:7800

# 接口路径前缀
TDP_API_BASE=http://localhost:7800/api

# 会话授权，从`login`接口获取
TDP_AUTHORIZATION=57okMgL2uSkMd10WkD83zk4qy6GR03Jk

# 模拟账号，上线请勿必修改
TDP_USERNAME=admin
TDP_PASSWORD=12345

# 腾讯云密钥，请勿泄露
TDP_SECRET_ID=xxxxxxxxxxxxxxxxxxx
TDP_SECRET_KEY=yyyyyyyyyyyyyyyyyyyyy
