:root {
  --bs-body-font-family: '-apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif';
}

app-root textarea {
  height: 80vh;
}

app-root a {
  text-decoration:none; 
} 
